html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}
