@import "_null.scss";
@import "_global.scss";
@import "_animate.scss";
@import "header.scss";
@import "footer.scss";

.user-nav {
  display: flex;
  align-items: center;

  // .user-nav__showrooms

  &__showrooms {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 30px;
    margin-right: 46px;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 24px;
      background-image: url('../images/marker.svg');
      top: -4px;
      left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.idea {
  padding-bottom: 105px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .idea__title

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    max-width: 360px;
  }

  // .idea__depiction

  &__depiction {
    font-size: 24px;
    line-height: 40px;
    color: #AAAAAA;
    max-width: 570px;
  }
}


.products {
  padding: 105px 0 108px;

  // .products__container

  &__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
  }

  // .products__row

  &__row {
    display: flex;
    justify-content: space-between;
  }

  // .products__item-img

  &__item-img {
    max-width: 588px;
  }

  // .products__item-name

  &__item-name {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 32px;
  }
}

.brands {
  padding: 108px 0 120px;

  // .brands__title

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 27px;
  }

  // .brands__subtitle

  &__subtitle {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 125px;
  }

  // .brands__items-row

  &__items-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  // .brands__items-item

  &__items-item {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.example-slider {
  padding: 120px 0 83px;

  // .example-slider__container

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  // .example-slider__slider

  &__slider {
    margin: 0 auto;
  }

  // .example-slider__slider-item

  &__slider-item {
    max-width: 1344px;
  }

  // .example-slider__slider-img

  &__slider-img img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }
}

 .slider-arr {
  position: absolute;
  top: 50%;
  z-index: 4;
  transform: translate(0px, -50%);
  cursor: pointer;
}
.slider-arr-left {
  left: 104px;
}
.slider-arr-right {
  right: 104px;
}

.slick-dots {
  padding-top: 24px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 6px;
  }
}

.example-slider .slick-dots button {
  background-color: #46856E;
}

.slick-dots button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border:none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  transition: all .4s;
}
.slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
}

.features {
  padding-bottom: 120px;

  // .features__text

  &__text {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
  }

  // .features__link

  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #46856E;
    display: inline-block;
    margin-bottom: 70px;
  }

  // .features__items

  &__items {
    display: flex;
    justify-content: space-between;
  }

  // .features__item

  &__item {
    max-width: 30%;
  }

  // .features__item-img

  &__item-img {
    margin-bottom: 30px;
    text-align: center;
  }

  // .features__item-title

  &__item-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  // .features__item-text

  &__item-text {
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
  }
}


.reviews {
  padding: 120px 0 120px;

  // .reviews__container

  &__container {
    max-width: 1540px;
    padding: 0 50px;
    margin: 0 auto;
  }

  // .reviews__inner

  &__inner {
    max-width: 962px;
    margin: 0 auto;
  }

  // .reviews__item

  &__item {
    margin-bottom: 40px;
    max-width: 270px;
  }

  // .reviews__item-comment

  &__item-comment {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 8px;
  }

  // .reviews__link

  &__link {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.reviews-bg {
  padding: 120px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.star-list {
  margin-bottom: 7px;

  // .star-list__item

  &__item {
    display: inline-block;
  }
}

.illustrations {
  padding: 120px 0 144px;

  // .illustrations__container

  &__container {
    max-width: 1230px;
    // padding: 0 15px;
    margin: 0 auto;
  }

  // .illustrations__prelude

  &__prelude {
    max-width: 1045px;
    margin-bottom: 135px;
    padding-left: 155px;
  }

  // .illustrations__prelude-text

  &__prelude-text {
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    color: #AAAAAA;
    margin-bottom: 25px;
  }

  // .illustrations__motive

  &__motive {
    font-size: 46px;
    line-height: 52px;
    color: #000000;
  }

  // .illustrations__row

  &__row {
    position: relative;
    min-height: 672px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__row-inverted {
    justify-content: flex-start;
  }
  .illustrations__row + .illustrations__row {
    margin-top: 64px;
  }

  // .illustrations__img

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  // .illustrations__info

  &__info {
    max-width: 421px;
    padding-right: 110px;
  }
  &__info-left {
    max-width: 421px;
    padding-left: 110px;
  }
  // .illustrations__title

  &__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 27px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
  }
}

.preview-silder {
  padding: 145px 0;

  // .preview-silder__container

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}


.preview-silder .slick-dots button {
  background-color: #D5933F;
}
.preview-silder .slick-dots li.slick-active button {
  background-color: #D5933F;
}

.offer {
  margin-bottom: 79px;

  // .offer__container

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__inner {
    background-color: #F2F2F2;
    padding: 64px 300px 24px;
    text-align: center;
  }

  // .offer__title

  &__title {
    font-weight: normal;
    font-size: 46px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 70px;
  }

  // .offer__items

  &__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    flex-wrap: wrap;
  }

  // .offer__item

  &__item {
    text-align: center;
    max-width: 200px;
  }

  // .offer__item-img

  &__item-img {
    margin-bottom: 22px;
  }

  // .offer__item-name

  &__item-name {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  // .offer__btn

  &__btn {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px 24px;
    background: #46856E;
    border-radius: 2px;
    transition: all .4s;
    &:hover {
      background: rgba(#46856E, .7);
    }
  }

  // .offer__terms

  &__terms {
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
  }

  &__terms-link {
    &:hover {
      text-decoration: underline;
    }
  }
}

@import "_media.scss";
